<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680436863703-e7r70lo7jjtoeflbb8r0ar1r2q1pvoa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680436863703-e7r70lo7jjtoeflbb8r0ar1r2q1pvoa5</string>
	<key>API_KEY</key>
	<string>AIzaSyB1a3Vov0FtfRSgwYwcmabig5yQO29jD6o</string>
	<key>GCM_SENDER_ID</key>
	<string>680436863703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scoor.hoomy-hoo-adventure</string>
	<key>PROJECT_ID</key>
	<string>hoomy-hoo-adventure</string>
	<key>STORAGE_BUCKET</key>
	<string>hoomy-hoo-adventure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680436863703:ios:2e01c070b1fe3304071692</string>
</dict>
</plist>